/*css.reset*/
body{
    min-width: 1000px;
    _width:expression(document.body.clientWidth <= 1000? "1000px": "auto" );
}
html.hidden{display: block!important}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,form,pre,blockquote{margin:0}
legend,ul,ol{padding:0}
body{margin-top:50px!important;font:16px/1.6 "Microsoft YaHei","\u5fae\u8f6f\u96c5\u9ed1",arial,sans-serif;color:#666;}
li{list-style:none}
p{text-indent:0;text-align:justify;text-justify:inter-ideograph;word-wrap:break-word;overflow:hidden}
table{border-collapse:collapse}
pre{white-space:nowrap}
input,textarea,select{font-size:16px;padding:0;outline:0;resize:none;font-family:"Microsoft YaHei","\u5fae\u8f6f\u96c5\u9ed1",arial,sans-serif;-moz-appearance:none;-webkit-appearance:none;}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:none;cursor: pointer}
input[type=text],select {border-radius: 1px}
select {padding-right:20px}
a{-webkit-transition: all .2s linear 0s;transition: all .2s linear 0s;}
a{color:#666;text-decoration:none;outline:none;}
a:hover{color:#ff8900;text-decoration: none}
img{border:0;vertical-align:top;}
.cf:before,.cf:after{content:"";display:table}.cf:after{clear:both}.cf{zoom:1}  /*clear float*/
.elp{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}

/*css.lib*/
.yh{font-family:"Microsoft YaHei","\u5fae\u8f6f\u96c5\u9ed1",arial,sans-serif}
.st{font-family:"Simson","宋体",Helvetica,arial,sans-serif}
.wrap{position:relative;width:1000px;margin:0 auto}
.whb{background:white}.grey_bg{background-color:#f1f1f1}
.fw4{font-weight:400}.fw7{font-weight:700}.it{font-style:italic}
.tdl{text-decoration:underline}.tdn,.tdn:hover,a.tdl:hover{text-decoration:none}
.red{color:red!important}.wh{color:#fff!important}.yellow{color:#ff8900!important}
.fz12{font-size:12px}.fz14{font-size:14px}.fz16{font-size:16px}.fz18{font-size:18px}.fz24{font-size:24px}
.none{display:none}.di{display:inline}.dib{display:inline-block}.db{display:block}
.pr{position:relative}.pa{position:absolute}.pf{position:fixed}
.fl{float:left}.fr{float:right}
.ac{text-align:center}.ar{text-align:right}.al{text-align:left}
.m1{margin:1px}.m2{margin:2px}.m5{margin:5px}.m10{margin:10px}.m20{margin:20px}.m40{margin: 40px;}
.mt1{margin-top:1px}.mr1{margin-right:1px}.mb1{margin-bottom:1px}.ml1{margin-left:1px}
.mt2{margin-top:2px}.mr2{margin-right:2px}.mb2{margin-bottom:2px}.ml2{margin-left:2px}
.mt5{margin-top:5px}.mr5{margin-right:5px}.mb5{margin-bottom:5px}.ml5{margin-left:5px}
.mt10{margin-top:10px}.mr10{margin-right:10px}.mb10{margin-bottom:10px}.ml10{margin-left:10px}
.mt15{margin-top:15px}.mr15{margin-right:15px}.mb15{margin-bottom:15px}.ml15{margin-left:15px}
.mt18{margin-top:18px}.mr18{margin-right:18px}.mb18{margin-bottom:18px}.ml18{margin-left:18px}
.mt20{margin-top:20px}.mr20{margin-right:20px}.mb20{margin-bottom:20px}.ml20{margin-left:20px}
.mt30{margin-top:30px}.mr30{margin-right:30px}.mb30{margin-bottom:30px}.ml30{margin-left:30px}
.mt40{margin-top:40px}.mb40{margin-bottom:40px}
.p1{padding:1px}.p2{padding:2px}.p5{padding:5px}.p10{padding:10px}.p20{padding:20px}
.pt1{padding-top:1px}.pr1{padding-right:1px}.pb1{padding-bottom:1px}.pl1{padding-left:1px}
.pt2{padding-top:2px}.pr2{padding-right:2px}.pb2{padding-bottom:2px}.pl2{padding-left:2px}
.pt5{padding-top:5px}.pr5{padding-right:5px}.pb5{padding-bottom:5px}.pl5{padding-left:5px}
.pt10{padding-top:10px}.pr10{padding-right:10px}.pb10{padding-bottom:10px}.pl10{padding-left:10px}
.pt15{padding-top:15px}.pr15{padding-right:15px}.pb15{padding-bottom:15px}.pl15{padding-left:15px}
.pt20{padding-top:20px}.pr20{padding-right:20px}.pb20{padding-bottom:20px}.pl20{padding-left:20px}
.pt30{padding-top:30px}.pr30{padding-right:30px}.pb30{padding-bottom:30px}.pl30{padding-left:30px}
.pie{behavior:url("js/PIE.htc")}
