.date_container .date_swiper{display:none;position:absolute;width:318px;top:110%;left:0;margin:0;border-radius:10px;border:1px solid #ff8900;background-color:#fff;z-index:9;}
.date_swiper .swiper-slide{position:relative;background:#fff;}

.date_container .swiper-button-next,
.date_container .swiper-button-prev {position:absolute;width:18px;height:18px;top:15px;background:url(../images/arrow_1.png) 0 0 no-repeat;z-index:10;cursor:pointer;}
.date_container .swiper-button-prev {left:20px;}
.date_container .swiper-button-next {right:20px;background-position:-18px 0;}
.date_container .swiper-button-prev.disable,
.date_container .swiper-button-next.disable {opacity:.3;filter:alpha(opacity=30);}

.calendar ul {white-space: nowrap}
.calendar ul,li{display:block;margin:0;padding:0;list-style:none;overflow:hidden;}
.calendar-month{padding:5px;font-size:12px;color:#333;background-color:#fff;overflow:hidden;border-radius:2px;}
.calendar-title{position:relative;}
.calendar-title h2{padding:10px 0 10px;font-size:16px;text-align:center;}
.calendar-week{position:relative;overflow:hidden;}
.calendar-month li{float:left;width:14%;padding:0 1px;height:40px;line-height:40px;text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box;}

/*.calendar-month li:nth-child(7n + 1), .calendar-month li:nth-child(7n) {width: 15%;}*/
.calendar-day{overflow:hidden;font-size:14px;}
.calendar-day li{border-top:1px solid #eee;}
.calendar-month .line2{line-height:40px;cursor:pointer;}
.calendar-month .line3{line-height:20px;cursor:pointer;}
.calendar-month .old{color:#999;cursor:auto;}
.calendar-month .cal_noRoom span{color:#999;background-color:#ddd;display:inline-block;width:99%;height:37px;margin-top:1px;border-radius:3px;}
.calendar-month .cal_select span{color:#fff;background-color:#ff8900;display:inline-block;width:99%;height:37px;line-height:38px;margin-top:1px;border-radius:3px;}
.calendar-month .sameday span{height:35px;padding-bottom:2px;font-size:12px;line-height:18px;}
.calendar-month .lockedday span{background:url(../images/lock.png) 82% 3px no-repeat;background-origin:content-box;color:#ff8900;}
.guide_calendar_content .calendar-month .line2 {cursor: auto;}
