/***************************
*CSS Document
***************************/
body{
    min-width: 1140px;
    _width:expression(document.body.clientWidth <= 1140? "1140px": "auto" );
}

/*reset*/
/*html {font-size: 62.5%}*/

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,form,pre,blockquote{margin:0}
legend,ul,ol{padding:0}
body{font:14px/1.6em "Microsoft YaHei","\u5fae\u8f6f\u96c5\u9ed1",Helvetica,Impact,arial,sans-serif;color:#666;}
li{list-style:none}
p{text-indent:0;text-align:justify;text-justify:inter-ideograph;word-wrap:break-word;overflow:hidden}
table{border-collapse:collapse}
pre{white-space:nowrap}
input,textarea,select{padding:0;border-radius:0;font-size:14px;outline:0;resize:none;font-family:"Microsoft YaHei","\u5fae\u8f6f\u96c5\u9ed1",Helvetica,arial,sans-serif;-webkit-appearance:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:none;cursor: pointer}
a{color:#666;text-decoration:none}
a:hover{color:#1a6dbb;text-decoration:none}
img{max-width:100%;border:0;vertical-align:top;-ms-interpolation-mode: bicubic}
.cf:before,.cf:after{content:"";display:table}.cf:after{clear:both}.cf{zoom:1}  /*clear float*/
.elp{white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden}

.wrap{position:relative;margin:0 3.2%}
.red{color:red!important}.wh{color:#fff!important}.yellow{color:#ffff00!important}
.fz12{font-size:12px}.fz14{font-size:14px}.fz16{font-size:16px}.fz18{font-size:18px}.fz24{font-size:24px}

/*header*/





@media screen and (max-width: 414px) {

}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 360px) {
    body{font-size:13px}

}

@media screen and (max-width: 320px) {
    body{font-size:12px}

}
