/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:c04861fce61bc5702d0d1749c784ff8e:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(sprite.png);}

.icon_bell_bl {width:60px; height:60px; background-position: -0px -65px}
.icon_building {width:42px; height:40px; background-position: -44px -127px}
.icon_car {width:42px; height:40px; background-position: -117px -0px}
.icon_close {width:14px; height:14px; background-position: -174px -48px}
.icon_dial {width:28px; height:22px; background-position: -120px -42px}
.icon_dial_bl {width:20px; height:19px; background-position: -151px -117px}
.icon_dial_w {width:23px; height:21px; background-position: -120px -66px}
.icon_editor_bold {width:20px; height:20px; background-position: -158px -160px}
.icon_editor_italic {width:20px; height:20px; background-position: -155px -138px}
.icon_editor_underline {width:20px; height:20px; background-position: -136px -160px}
.icon_editor_uploadimg {width:20px; height:20px; background-position: -133px -138px}
.icon_editor_uploadimg_w {width:20px; height:20px; background-position: -129px -116px}
.icon_editor_uploadvideo {width:20px; height:20px; background-position: -111px -140px}
.icon_eye_bl {width:22px; height:19px; background-position: -150px -48px}
.icon_fax_w {width:22px; height:20px; background-position: -0px -169px}
.icon_flag {width:28px; height:22px; background-position: -62px -84px}
.icon_heart_bl {width:22px; height:19px; background-position: -120px -89px}
.icon_location_bl {width:16px; height:22px; background-position: -111px -116px}
.icon_location_w {width:22px; height:22px; background-position: -145px -69px}
.icon_mail_w {width:22px; height:14px; background-position: -92px -100px}
.icon_msg_w {width:18px; height:17px; background-position: -62px -108px}
.icon_pencil {width:21px; height:23px; background-position: -97px -52px}
.icon_pencil_s {width:30px; height:30px; background-position: -65px -52px}
.icon_pencil_w {width:20px; height:23px; background-position: -169px -69px}
.icon_play {width:50px; height:50px; background-position: -65px -0px}
.icon_tel {width:28px; height:22px; background-position: -161px -24px}
.icon_tel_w {width:20px; height:20px; background-position: -68px -169px}
.icon_ticket {width:42px; height:40px; background-position: -0px -127px}
.icon_top {width:63px; height:63px; background-position: -0px -0px}
.icon_tpl_w {width:22px; height:21px; background-position: -144px -93px}
.icon_up {width:28px; height:22px; background-position: -161px -0px}
.icon_upload_img_w {width:20px; height:20px; background-position: -46px -169px}
.icon_upload_video_w {width:20px; height:20px; background-position: -24px -169px}
.mc_nav_01 {width:21px; height:21px; background-position: -113px -162px}
.mc_nav_02 {width:21px; height:21px; background-position: -90px -162px}
.mc_nav_03 {width:21px; height:21px; background-position: -88px -139px}
.mc_nav_04 {width:21px; height:21px; background-position: -88px -116px}
.mc_nav_05 {width:21px; height:21px; background-position: -168px -94px}
.mc_nav_06 {width:21px; height:21px; background-position: -97px -77px}
